<div class="container">
  <label><b>Parent Child</b></label>
  <div *ngIf="wafers$ | async as wafers">
    <table class="table table-hover table-bordered">
      <thead>
        <th>Wafers</th>
      </thead>
      <tbody>
        <tr *ngFor="let w of wafers" (click)="selectedWafer(w)">
          {{
            w.name
          }}
        </tr>
      </tbody>
    </table>
  </div>

  <br />

  <div *ngIf="waferSuppliers$ | async as suppliers">
    <div *ngIf="suppliers.length">
      <table class="table table-hover table-bordered">
        <thead>
          <th>Supppliers</th>
        </thead>
        <tbody>
          <tr *ngFor="let s of suppliers">
            {{
              s.name
            }}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
