<div class="container">
  <label><b>Templated Form</b></label>
  <form #myform="ngForm" (ngSubmit)="submit(myform)">
    <div>
      <label for="firstName">First Name:</label>
      <input
        class="form-control"
        type="text"
        name="firstName"
        [(ngModel)]="detail.firstName"
        required
      />

      <div
        *ngIf="myform.touched && myform.controls.firstName.errors?.required"
        class="warning"
      >
        required
      </div>
    </div>

    <div>
      <label for="lastName">Last Name:</label>
      <input
        class="form-control"
        type="text"
        name="lastName"
        [(ngModel)]="detail.lastName"
        required
      />

      <div
        *ngIf="myform.touched && myform.controls.lastName.errors?.required"
        class="warning"
      >
        required
      </div>
    </div>

    <div>
      <!-- email attribute only checks for @ -->
      <!-- use pattern instead to enforce both @ and .com etc -->

      <label for="email">Email:</label>
      <input
        class="form-control"
        type="text"
        name="email"
        [(ngModel)]="detail.email"
        required
        [pattern]="emailPattern"
      />
      <div
        *ngIf="myform.touched && myform.controls.email.errors?.required"
        class="warning"
      >
        required
      </div>
      <div
        *ngIf="myform.touched && myform.controls.email.errors?.pattern"
        class="warning"
      >
        invalid pattern
      </div>
    </div>
  </form>

  <br />

  <div style="width: 100%; text-align: center">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</div>
