<div class="container">
  <label><b>Async: Better Approach</b></label>
  <div *ngIf="breweries$ | async as breweries">
    <table class="table table-hover">
      <tbody>
        <tr *ngFor="let b of breweries" (click)="selectedBrewery(b)">
          {{
            b.id
          }}
          :
          {{
            b.name
          }}
        </tr>
      </tbody>
    </table>
  </div>

  <br />

  <div *ngIf="selectedBrewery$ | async as selectedBrewery">
    <div><b>Selected Brewery</b></div>
    <br />
    {{ selectedBrewery | json }}
  </div>
</div>
