<div class="center">
  <div>
    <label><b>Select a Type - Example 1</b></label>

    <select class="form-control" [formControl]="typeChoices">
      <option>micro</option>
      <option>large</option>
    </select>

    <br />
    <label><b>Select a Brewery</b></label>
    <select class="form-control" [formControl]="brewChoices">
      <option *ngFor="let option of breweries">{{ option.name }}</option>
    </select>
    <br />
    <p>
      * You selected brewery type: <b>{{ typeSelection }} </b>
    </p>
    <p>
      * You selected brewery: <b>{{ brewerySelection }}</b>
    </p>
  </div>
</div>
