<br />

<nav style="margin-right: 100px">
  <a routerLink="/rxform">Reactive Form</a>
  <a routerLink="/tempform"> Templated Form </a>
  <a routerLink="/subs">Subscription</a>
  <a routerLink="/async">Async</a>
  <a routerLink="/map">Map</a>
  <a routerLink="/switch">Switch Map</a>
  <a routerLink="/withlatest">With Latest</a>
  <a routerLink="/forkjoin">Fork Join</a>
  <a routerLink="/combinelatest">Combine Latest</a>
  <a routerLink="/swap">Swap Template</a>
  <a routerLink="/zip">Zip</a>
</nav>
