<nav style="margin-right: 100px">
  <button routerLink="/pc" class="btn btn-secondary">Parent-Child</button>
  <button routerLink="/subs" class="btn btn-secondary">Subscription</button>
  <button routerLink="/async" class="btn btn-secondary">Async</button>
  <button routerLink="/rxform" class="btn btn-secondary">Reactive Form</button>
  <button routerLink="/tmpform" class="btn btn-secondary">
    Templated Form
  </button>
  <button routerLink="/swap" class="btn btn-secondary">Swap Template</button>
  <button routerLink="/selectone" class="btn btn-secondary">Select</button>
  <button routerLink="/sand" class="btn btn-secondary">Sandbox</button>
  <button routerLink="/cars" class="btn btn-secondary">Cars</button>
</nav>
