<div class="container">
  <label><b>Reactive Form</b></label>
  <form [formGroup]="myform" (ngSubmit)="submit()">
    <div>
      <label for="firstName">First Name:</label>
      <input
        type="text"
        id="firstName"
        formControlName="firstName"
        class="form-control"
      />

      <div *ngIf="myform.controls.firstName.touched">
        <div *ngIf="myform.controls.firstName.errors?.required" class="warning">
          First Name is required
        </div>
      </div>
    </div>

    <div>
      <label for="lastName">Last Name:</label>
      <input
        type="text"
        id="lastName"
        formControlName="lastName"
        class="form-control"
      />

      <div *ngIf="myform.controls.lastName.touched">
        <div *ngIf="myform.controls.lastName.errors?.required" class="warning">
          Last Name is required
        </div>
      </div>
    </div>

    <div>
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-control"
      />

      <div *ngIf="myform.get('email').touched" class="warning">
        <!-- can reach the email property by using "get" or "controls" -->
        <div *ngIf="myform.get('email').errors?.required" class="warning">
          Email is required
        </div>
        <div *ngIf="myform.controls.email.errors?.pattern" class="warning">
          Email is not valid
        </div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
  </form>

  <br />
</div>
