<div class="container">
  <div *ngIf="makes$ | async as makes">
    <table class="table table-hover table-bordered">
      <thead>
        <th>Make</th>
      </thead>
      <tbody>
        <tr *ngFor="let m of makes" (click)="selectedMake(m)">
          {{
            m
          }}
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="filteredByMake$ | async as byMake">
    <table class="table table-hover table-bordered">
      <thead>
        <th>Show Models - Simple Filter - Delayed Results</th>
      </thead>
      <tbody>
        <tr *ngFor="let m of byMake">
          {{
            m.vehicleClass
          }}
          {{
            m.vehicleModel
          }}
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="filteredUsingCombineLatest$ | async as byMake">
    <table class="table table-hover table-bordered">
      <thead>
        <th>Show Models - Combine Latest - Default List</th>
      </thead>
      <tbody>
        <tr *ngFor="let m of byMake">
          {{
            m.vehicleClass
          }}
          {{
            m.vehicleModel
          }}
        </tr>
      </tbody>
    </table>
  </div>
</div>
