<div>
  <div *ngIf="makes$ | async as makes">
    <table class="table table-hover table-bordered">
      <thead>
        <th>Make</th>
      </thead>
      <tbody>
        <tr *ngFor="let m of makes" (click)="selectedMake(m)">
          <label> {{ m }}</label>
        </tr>
      </tbody>
    </table>
  </div>
  <br />
  <div *ngIf="filteredByMake$ | async as byMake">
    <table class="table table-hover table-bordered">
      <thead>
        <th>Show Models - Simple Filter - Delayed Results</th>
      </thead>
      <tbody>
        <tr *ngFor="let m of byMake">
          <label> {{ m.vehicleClass }} {{ m.vehicleModel }}</label>
        </tr>
      </tbody>
    </table>
  </div>
  <br />
  <div *ngIf="filteredUsingCombineLatest$ | async as byMake">
    <table class="table table-hover table-bordered">
      <thead>
        <th>Show Models - Combine Latest - Default List</th>
      </thead>
      <tbody>
        <tr *ngFor="let m of byMake">
          <label> {{ m.vehicleClass }} {{ m.vehicleModel }}</label>
        </tr>
      </tbody>
    </table>
  </div>
</div>
