<div class="container">
  <div *ngIf="makes$ | async as makes">
    <table class="table table-hover table-bordered">
      <thead>
        <th>Make</th>
      </thead>
      <tbody>
        <tr *ngFor="let m of makes" (click)="selectedMake(m)">
          {{
            m
          }}
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="selectedMake$ | async as byMake">
    <table class="table table-hover table-bordered">
      <thead>
        <th>By Make using Simple Filter - not in Constuctor</th>
      </thead>
      <tbody>
        <tr *ngFor="let m of byMake">
          {{
            m.vehicleClass
          }}
          {{
            m.vehicleModel
          }}
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="filteredVehicles$ | async as byMake">
    <table class="table table-hover table-bordered">
      <thead>
        <th>By Make using Combine Latest - In Constructor</th>
      </thead>
      <tbody>
        <tr *ngFor="let m of byMake">
          {{
            m.vehicleClass
          }}
          {{
            m.vehicleModel
          }}
        </tr>
      </tbody>
    </table>
  </div>
</div>
