@import '~bootstrap/dist/css/bootstrap.min.css';

form {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

button {
  width: 100px;
  height: 50%;
  align-self: flex-end;
}

.warning {
  color: red;
}

/* order matters with anchor state */

a:link {
  color: white;
}

a:visited {
  color: whitesmoke;
}

a:hover {
  color: yellow;
}

a:active {
  color: orange;
}
