@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  background-color: black;
  color: lightgray;
}

.container {
  border: 0.5px solid gray;
  padding: 10px;
}

form {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

button {
  width: 100px;
  height: 50%;
  align-self: flex-end;
}

.warning {
  color: red;
}

.green {
  color: greenyellow;
}

tr:hover {
  background-color: white;
  color: black;
}

/* order matters with anchor state */

a:link {
  color: white;
}

a:visited {
  color: lightgray;
}

a:hover {
  color: greenyellow;
}

a:active {
  color: rgba(172, 255, 47, 0.644);
}

