@import '~bootstrap/dist/css/bootstrap.min.css';

.center {
  display: flex;
  justify-content: center;
  height: 100%;
}

form {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

.warning {
  color: red;
}

