<div class="container">
  <div>
    <label><b>Select a Type - Example 3 - Async</b></label>
    <select class="form-control" [formControl]="typeChoices">
      <option>micro</option>
      <option>large</option>
    </select>

    <br />
    <label><b>Select a Brewery</b></label>
    <select class="form-control" [formControl]="brewChoices">
      <option *ngFor="let option of breweries">{{ option.name }}</option>
    </select>
    <br />
    <p>
      Brewery Type:
      <label class="green">{{ typeChoices.valueChanges | async }} </label>
    </p>
    <p>
      Brewery:
      <label class="green">{{ brewChoices.valueChanges | async }}</label>
    </p>
  </div>

  <button class="btn btn-primary" (click)="clear()">clear</button>

  <br />
  <br />
  <a routerLink="/selectfour">See Example 4</a>
</div>
